{% extends "base.html" %}

{% block title %} {{ block.super }} - Event Public {% endblock %}

{% block content %}
    
    <form method="POST" action="{% url 'events:register' event.token 'invit' %}">
        {% csrf_token %}
        <label>Nom
            {{ form.last_name }}
        </label>
        <label>Prenom
            {{ form.first_name }}
        </label>
        <label>Age
            {{ form.age }}
        </label>
        <label>Email
            {{ form.email }}
        </label>
        <label>Password
            {{ form.password }}
        </label>
        <input type="submit" value="S'inscrire"/>
    </form>

{% endblock content %}