{% extends "base.html" %}

{% load static %}
{% load events_extras %}

{% block title %} {{ block.super }} - Event Auteur {% endblock %}

{% block content %}
    {{ event.title }}
    <input type="hidden" id="event_token" name="variable" value="{{ event.token }}">
    <!-- aucune idée de la mise en page vus que tu a tout changé mais toutes les données sont la -->
    <a href="{% url 'events:change' event.token %}">Modifier</a>

    <h4>Inscrit</h4>
    {% for inscrit in inscrits %}
        <p>{{ inscrit.last_name }}</p>
    {% endfor %}

    <h4>Commentaire</h4>
    {% for comment in comments %}
        {% if comment.response_to == None %}
            <p>posté le {{ comment.date }}</p>
            {% if comment.delete != True %}
                <p id="{{ comment.id }}">{{ comment.core }}</p>
                {% if comment.author == request.user %}
                    <button class="edite" value="{{ comment.id }}">Edite</button>
                {% endif %}
                <button class="answer" value="{{ comment.id }}">Répondre</button>
            {% else %}
                <p>Message Supprimé</p>
            {% endif %}
        {% else %}
            <p>posté le {{ comment.date }}</p>
            {% if comment.delete != True %}
                <p id="{{ comment.id }}">{{ comment.core }}</p>
                <p>Response to: {{ comment.response_to }}</p>
                {% if comment.author == request.user %}
                    <button class="edite" value="{{ comment.id }}">Edite</button>
                {% endif %}
            {% else %}
                <p>Message Supprimé</p>
            {% endif %}
        {% endif %}
        {% with 'events.delete_comment_'|addstr:comment.id as perm %}
            {% if perm in perms and comment.deleted != True %}
                <a href="{% url 'events:delete_com' event.token comment.id %}">Supprimer</a> 
            {% endif %}
        {% endwith %}
        <a href="{% url 'events:like_com' event.token comment.id %} ">+{{ comment.like }}</a> | <a href="{% url 'events:dislike_com' event.token comment.id %}">-{{ comment.dislike }}</a>        
    {% endfor %}
    <div>
        <form method="POST" action="{% url 'events:comment' event.token %}">
            {% csrf_token %}
            <label>Message
            {{ form.core }}
            </label>
            <input type="submit" value="envoyer"/>
        </form>
    </div>

    <div id="mapid" style="height: 500px;"></div>
    
{% endblock content %}

{% block script %}
    <script>
        var SCRF_TOKEN = '{{ csrf_token }}';

        var lat = 0;
        var lng = 0;

        function myfunction(arr)
        {
            coord = new L.LatLng(arr[0].lat, arr[0].lon)

            var mymap = L.map('mapid').setView(coord, 13);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);

            var marker = L.marker(coord).addTo(mymap);
            marker.bindPopup("<center><b>First Marker</b></center><br>{{ event.addresse }}").openPopup();
        }

        var xmlhttp = new XMLHttpRequest();
        var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q={{ addresse }}";

        xmlhttp.onreadystatechange = function()
        {
            if (this.readyState == 4 && this.status == 200)
            {
                var myArr = JSON.parse(this.responseText);
                myfunction(myArr)
            }
        };
        
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

    </script>
    <script type="text/javascript" src="{% static 'js/comment_event.js' %}"></script>
{% endblock script %}