/* STYLE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > section.section {
    flex: 1;
}

body > section.section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: url("../img/background.jpg");
    opacity: .1;
}
