<aside class="menu">
  <p class="menu-label">Général</p>
  <ul class="menu-list">
    <!-- HOME -->
    {% url 'members:home' as home %}
    <li><a href="{{ home }}" class="{% if request.path == home %}is-active{% endif %}">Dashboard</a></li>
    <!-- PROFIL -->
    {% url 'members:profil' as profil %}
    <li><a href="{{ profil }}" class="{% if request.path == profil %}is-active{% endif %}">Profil</a></li>
  </ul>
  <p class="menu-label">Administration</p>
  <ul class="menu-list">
    <!-- MESSAGES -->
    {% url 'members:message' as messages %}
    <li>
      <a href="{{ messages }}" class="{% if request.path == messages %}is-active{% endif %}">Messages
      {% if notif.message %}
        <sup><span class="icon is-size-7"><i class="fas fa-circle has-text-danger"></i></span></sup>
      {% endif %}
      </a>
    </li>
    <!-- CRÉER ÉVÉNEMENT -->
    {% url 'events:new' as new %}
    <li>
      <a href="{{ new }}" class="{% if request.path == new %}is-active{% else %}has-text-link{% endif %}">
        <span class="icon is-size-7"><i class="fas fa-plus"></i></span>
        Créer un événement
      </a>
    </li>
  </ul>
  <p class="menu-label">Activité</p>
  <ul class="menu-list">
    <li>
      <a>Événements
        {% if not notif.my_event.tt == 0 %}
          <sup><span class="icon is-size-7"><i class="fas fa-circle has-text-danger">{{ notif.my_event.tt }}</i></span></sup>
        {% endif %}
      </a>
      <ul>
        <!-- EVENT EN COURS -->
        <li><a href="">En cours</a></li>
        <!-- EVENT TERMINÉ -->
        <li><a href="">Terminés</a></li>
      </ul>
    </li>
  </ul>
</aside>