{% extends "members/account.html" %}

{% load static %}

{% block title %} {{ block.super }} - Message {% endblock title %}
{% block page_name %}message{% endblock %}

{% block account %}
<div class="columns">
	<div class="column is-one-third" style="border: 1px solid red">
		{% for target, last in targets %} <!-- la liste des targets est trié par date de dernier message (recu et envoyer) -->
			<button class="target" value="{{ target.id }}">
				<p>{{ target.username }}</p>
				<p>last message: {{ last }}</p>
			</button>
		{% endfor %}
	</div>

	<div class="column" style="border: 1px solid blue">
		<div id="messages">
			{% for message in messages %} <!-- Pour l'instant y'a tout les messages recu uniquement -->
				<div style="border: 1px solid green">
					<p>{{ message.content}}</p>
					<p>send by: {{ message.author }}</p>
				</div>
			{% endfor %}

			<form method="POST" action="{% url 'members:send_message' %}">
				{% csrf_token %}
				{{ form.target }}
				{{ form.content }}
				<input type="submit" value="Envoyer"/>
			</form>
		</div>
	</div>
</div>
{% endblock account %}

{% block script %}
	<script>
		var SCRF_TOKEN = '{{ csrf_token }}';
	</script>
	<script type="text/javascript" src="{% static 'js/message_members.js' %}"></script>
{% endblock script %}