{% extends "../main.html" %}

{% block title %} {{ block.super }} - Sign In {% endblock %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="box">
                <div class="panel">
                    <h1>Connexion</h1>

                    {% if error %}
                        <p>Your username and password didn't match. PLease try again.</p>
                    {% endif %}

                    <form method="post" action="{% url 'members:signin' %}">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                {{ form.username }}
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ form.password }}
                            </div>
                            
                            <input type="submit" value="Connexion" class="btn btn-primary"/>
                            <p class="text-muted"><a href="{% url 'members:signup' %}">Pas encore inscrit?</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}