{% extends "../main.html" %}

{% block title %} {{ block.super }} - Login {% endblock %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="box">
                <div class="panel">
                    <h1>Connexion</h1>

                    <form method="post" action="{% url 'members:login' %}">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                {{ form.username }}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <h1>Login</h1>

    <a href="{% url 'members:signin' %}">Pas encore inscrit?</a>

    {% if error %}
        <p>Your username and password didn't match. PLease try again.</p>
    {% endif %}

    <form method="post" action="{% url 'members:login' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Login"/>
    </form>
{% endblock %}